.App {
  text-align: center;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: min(max(40px, 6vw), 80px);
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  /* position: relative; */
  margin-top: 5rem!important;
}

h2 {
  font-size: 5vh;
}

.ui.very.padded.text.container {
  text-align: center;
  height: 300px;
}

button {
  width: 180px;
  height: 100px;
  font-size: 26px;
  color: white;
  display: flex;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: rgb(236, 212, 255);
  border: 1px solid rgb(227, 200, 248);
  border-radius: 70%;
  transform: scale(1.02);

}
button:focus { outline: none; }
button#rock {
  background-image: url("img/rock.png");
}
button#paper {
  background-image: url("img/paper.png");
}
button#scissors {
  background-image: url("img/scissor.png");
}
.button-container{
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.results {
  font-size: 3em;
  font-weight: bolder;
  display: block;
}

.wisely {
  background: -webkit-linear-gradient(#02c415, #c3ff1f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.poorly {
  background: -webkit-linear-gradient(#a60a02, #e05a53);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.equally {
  background: -webkit-linear-gradient(#21638a, #31eaf7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.choice {
  font-size: 2rem;
  font-weight: bolder;
}

.fight-container{
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.player, .computer{
  font-family: 'Merienda One', cursive;
  font-size: 3vh;
  width: 130px;
}

.player {
  text-align: center;
}
.computer {
  text-align: center;
}

.vs {
  font-family: 'Merienda One', cursive;
  font-size: 2vh;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 40px;
  text-align: center;

}

.combo {
  float: left;
  padding: 50px;
  text-align: center;
  font-family: 'Merienda One', cursive;
  font-size: 4vh;
}

.combo_value {
   margin-top: 30px;
  font-family: 'Merienda One', cursive;
  font-size: 6vh;
}